.progress-page{

min-height:100vh;
background:#f5f7fb;
padding:40px;

}


.progress-page h1{

text-align:center;
color:#2563eb;
margin-bottom:40px;

}



.timeline{

position:relative;
max-width:700px;
margin:auto;

}



.timeline::before{

content:"";

position:absolute;

left:25px;

top:0;

width:3px;

height:100%;

background:#d1d5db;

}



.timeline-item{

display:flex;

gap:25px;

margin-bottom:35px;

position:relative;

}



.circle{

width:50px;

height:50px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

font-weight:bold;

z-index:2;

}



.completed .circle{

background:#22c55e;

color:white;

}



.pending .circle{

background:#9ca3af;

color:white;

}



.content{

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

flex:1;

}



.content h3{

margin-bottom:10px;

color:#1e3a8a;

}



.completed .content{

border-left:5px solid #22c55e;

}



.pending .content{

border-left:5px solid #9ca3af;

}