.testimonials-section {
  padding: 80px 8%;
  background: #f8fbff;
  overflow: hidden;
      position:relative;

}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-header h2 {
  font-size: 2.2rem;
  color: #0f172a;
  margin-bottom: 10px;
}

.testimonial-header p {
  color: #555;
  font-size: 1rem;
}

.review-btn {
  padding: 12px 28px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.review-btn:hover {
  background: #1d4ed8;
}

.testimonial-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,.08);
  text-align: center;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stars {
  font-size: 22px;
  margin-bottom: 15px;
}

.feedback {
  color: #555;
  line-height: 1.7;
  font-style: italic;
  margin-bottom: 20px;
  min-height: 90px;
}

.testimonial-card h3 {
  color: #111827;
  margin-bottom: 6px;
}

.testimonial-card span {
  color: #2563eb;
  font-weight: 600;
}

.swiper {
    padding:20px 15px 60px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #2563eb !important;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,.12);
}

.swiper-button-prev {
  left: -10px;
}

.swiper-button-next {
  right: -10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px t;
  font-weight: bold;
}
.swiper-slide {
  height: auto;
}

.testimonial-card {
  height: 100%;
  min-height: 320px;
}

.feedback {
  min-height: 90px;
}
.swiper-pagination-bullet{
    width:10px;
    height:10px;
    opacity:.5;
}
.swiper-pagination-bullet-active {
  background: #2563eb !important;
      opacity:1;

}

@media(max-width:768px){

  .testimonial-header{
    flex-direction: column;
    text-align: center;
  }

  .testimonial-header h2{
    font-size:1.8rem;
  }

  .testimonial-card{
    padding:25px;
  }

}